/* cardUtils.css */
.cardItem {
  position: absolute;
  width: 100px;
  height: 150px;
  display: block;
  transition: all 0.5s;
  transform: perspective(var(--e-transform-perspective, 0)) rotate(var(--e-transform-rotateZ, 0)) rotateX(var(--e-transform-rotateX, 0)) translateY(var(--e-transform-translateY, 0));
}

.cardImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.cardItem .front,
.cardItem .back {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform-style: preserve-3d;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: hidden;
}

.cardItem .back {
  backface-visibility: hidden;
}

.cardItem .front {
  background-color: #fff;
}

/* è½‰ */
.cardItem.roll .back {
  transform: rotateY(180deg);
}

.cardItem .front {
  transform: rotateY(-180deg);
}

.cardItem.roll .front {
  transform: rotateY(0deg);
}

.container {
  padding-top: 50px;
}

.cardItem.roll {
  position: relative;
  left: 0px;
  top: 230px;
  width: 200px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
  }


.cardGame01 {
  display: flex;
  overflow-y: scroll;
  width: 100%;
  height: 600px;
  position: relative;
  border: 1px dashed #aaa;
  flex-wrap: wrap;
  flex-direction: row;
}

.cardGame01 .resetButton {
  position: absolute;
  top: 200px;
  left: 10px;
  z-index: 1000;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}



.cardGame02 {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 600px;
  position: relative;
  border: 1px dashed #aaa;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cardGame02 .resetButton {
  position: absolute;
  top: 200px;
  left: 10px;
  z-index: 1000;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
