@media (min-width: 992px) {
    .navbar-expand-lg .offcanvas {
            visibility: hidden !important;
    }
    }

.main{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.align {
    display: block;
    position: relative;
    width: 605px;
}


.bg {
    position: absolute;
    width: 605px;
    height: 800px;
    left: 0px;
    top: 0px;
    object-fit: cover;
    z-index: 0;
}

.TV {
    position: absolute;
    background: none;
    cursor: pointer;
}

.TV:hover {
    background: linear-gradient(90deg, #000000ba 0, #000000a8 100%);
}

.sel1 {
    top: 150px;
    left: 230px;
    width: 140px;
    height: 140px;
    z-index: 1;
    clip-path: polygon(6% 9%, 90% 5%, 96% 64%, 26% 62%, 23% 98%, 10% 83%, 1% 83%);
}

.sel2 {
    top: 235px;
    left: 253px;
    width: 220px;
    height: 180px;
    z-index: 1;
    clip-path: polygon(6% 0%, 94% 5%, 98% 47%, 91% 47%, 84% 52%, 84% 58%, 82% 69%, 85% 81%, 63% 76%, 48% 98%, 39% 70%, 27% 71%, 28% 75%, 34% 75%, 34% 81%, 30% 82%, 30% 89%, 24% 92%, 18% 92%, 19% 82%, 13% 73%, 1% 75%);
}


.sel3 {
    top: 262px;
    left: 114px;
    width: 151px;
    height: 126px;
    z-index: 1;
    clip-path: polygon(4% 18%, 87% 3%, 99% 20%, 94% 86%, 3% 99%);
}


.sel4 {
    top: 358px;
    left: 88px;
    width: 271px;
    height: 202px;
    z-index: 1;
    clip-path: polygon(1% 15%, 72% 4%, 74% 9%, 77% 12%, 76% 19%, 78% 21%, 81% 21%, 83% 19%, 85% 18%, 85% 15%, 85% 12%, 88% 11%, 89% 9%, 88% 7%, 83% 5%, 82% 3%, 92% 1%, 100% 26%, 95% 34%, 95% 75%, 91% 76%, 77% 90%, 77% 100%, 74% 100%, 73% 92%, 58% 86%, 1% 91%);
}


.sel5 {
    top: 369px;
    left: 339px;
    width: 177px;
    height: 155px;
    z-index: 1;
    clip-path: polygon(2% 39%, 30% 1%, 56% 7%, 61% 12%, 61% 15%, 63% 16%, 70% 16%, 79% 14%, 98% 18%, 98% 96%, 89% 98%, 3% 91%);
}


.sel6 {
    top: 509px;
    left: 292px;
    width: 240px;
    height: 157px;
    z-index: 1;
    clip-path: polygon(1% 19%, 18% 1%, 100% 9%, 98% 90%, 41% 99%, 41% 58%, 24% 51%, 2% 51%);
}


.sel7 {
    top: 530px;
    left: 73px;
    width: 217px;
    height: 148px;
    z-index: 1;
    clip-path: polygon(1% 7%, 80% 1%, 99% 9%, 99% 40%, 91% 41%, 91% 93%, 87% 95%, 84% 95%, 77% 89%, 74% 88%, 70% 88%, 67% 90%, 60% 86%, 56% 91%, 51% 91%, 48% 94%, 1% 87%);
}


.sel8 {
    top: 587px;
    left: 269px;
    width: 124px;
    height: 125px;
    z-index: 1;
    clip-path: polygon(0% 2%, 67% 1%, 100% 10%, 96% 94%, 12% 99%, 2% 70%);
}