@media (min-width: 992px) {
    .navbar-expand-lg .offcanvas {
            visibility: hidden !important;
    }
}

body{
    background: white;
}
#header{
    position: relative;
    z-index: 999;
    background-color: white !important;
}

#header > div > a {
    padding-left: calc(50% - 100px);
    font-family: "Segoe Script";
}



.betweenli {
    display: inline-block;
    width: 20px;
}


#footer {
    display: block;
    position: relative;
    bottom: 0px;
}
.footer-container {
    overflow: hidden;
}