
/* 版面 */
.row1{
    height: calc(100vh - 60px);
  }
  
  .row2{
    height: calc(50vh - 40px);
  }
  
  
  .cloud{
    position: relative;
    background: #cccccc;
    margin: 20px;
  }
  
  .rainbow1 {
    display: block;
    position: absolute;
    left:0px;
    top:0px;
    width: 20vw;
    height: 40vh;
    border-radius:0 0 100% 0;
    border: 50px #ff000080 solid;
    border-left:0px;
    border-top:0px;
  }
  
  .rainbow2 {
    display: block;
    position: absolute;
    right: 0px;
    top: 30vh;
    width: 20vw;
    height: 40vh;
    border-radius: 100% 0 0 0;
    border: 50px #15dc2f9c solid;
    border-bottom:0px;
    border-right:0px;
  }
  
  .rainbow1::after {
    display: block;
    position: absolute;
    left:0px;
    top:0px;
    width: calc(20vw - 50px);
    height:  calc(40vh - 50px);
    border-radius:0 0 100% 0;
    background: var(--bs-body-bg);
    content: " ";
  }